body {
  background: #EEE;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  height: 120px;
}

#wrapper {
  width: auto;
  height: auto;
  background: gray;
  margin-top: 20px;
}

#container {
  width: 350px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 400px;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-top: solid;
  border-top-width: 2px;
}


