body {
  background: #EEE;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  width: 1110px;
  height: auto;
  background: gray;
  margin-top: 144px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 350px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 400px;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-top: solid;
  border-top-width: 2px;
}


